body{
    background-color: black;
}
.container{
    background-color: rgb(41, 37, 37);
    color: white;
    text-align: center;
    width: 25%;
    border-radius: 0.5rem;
}
h2{
    border-style: outset;
    background-color: green;
    border-radius: 0.5rem;
    margin: 2rem;
}
button{
    border-style: groove;
    background-color: green;
    width: 5rem;
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 20px;
}